<!-- Partial controls the flash message. Res.locals in app.js are used to pass a flash variable to each template, ensuring no errors -->
<div class="container container-alert">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert" style="margin-bottom: 0;">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>