<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/profile.css" />
  <link rel="icon" type="image/png" href="/images/favicon.jpg" />
  <title>Weight Tracker</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container" id="nav-container">
      <a class="navbar-brand mb-0 h1" href="/profile"><i class="fa fa-<%=currentUser.gender%>"
          aria-hidden="true"></i>&ensp;
        <% str = currentUser.username%>
        <%=str.substring(0, 20)%></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          </li>
          <li class="nav-item" id="top-nav-list">
            <a class="nav-link" href="/profile/edit">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <span class="show-on-md"> Edit Profile</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sign-out" href="/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span class="show-on-md">Sign Out</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ca-gym-finder.netlify.com/" target="_blank">
              <button type="button" class="btn btn-outline-light">
                Find Local Gyms
              </button>
            </a>
        </ul>
      </div>
  </nav>
</body>

</html>